<!DOCTYPE html>
<html lang="en">
<a href="/new"> make a new one </a>
<body>

 <h2>URLS</h2>
<ul>
   <% for (var i in urls) {
        var longUrl = urls[i].url;
        var count = urls[i].counter;
    %>
    <form method="POST" action="/urls/<%=i%>/delete">
      <a href="/u/<%=i%>"> <li><%= i %> - <%= longUrl %> - <%= count %> </li> </a>
      <button name = "delete" type = "submit" > DELETE </button>
      <a href="/urls/<%=i%>/edit">Edit</a>
    <% }; %>
</ul>
</body>
</html>